.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    cursor: pointer; /* Логотип и текст кликабельны */
  }
  
  .header-logo {
    width: 50px; /* Размер логотипа */
    height: 50px;
    margin-right: 10px; /* Отступ между логотипом и текстом */
  }
  
  .header-title {
    font-size: 15px; /* Размер текста "unTaspa" */
    font-weight: bold;
    font-style: inherit;
    color: white;
  }

  
  .header input {
    background-color: #333;
    border: none;
    padding: 10px;
    width: 300px;
    color: white;
    border-radius: 20px;
    outline: none;
  }
  
  .header button {
    background-color: white;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .header button:hover {
    background-color: lightgray;
  }
  