.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: 'Arial', sans-serif;
}

.app-body {
  display: flex;
  flex-grow: 1;
}

.app-body::before {
  content: '';
  width: 1px;
  background-color: #333;
  height: 100vh;
  position: absolute;
  left: 20%; 
}

.content {
  width: 80%;
  padding: 20px;
  position: relative; 
}

.content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content li {
  background-color: #282828;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content li:hover {
  background-color: #333;
}

.content input {
  background-color: #333;
  border: none;
  padding: 10px;
  width: 300px;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1aa34a;
}



