/* Основные стили для всего приложения */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: 'Arial', sans-serif;
}

.app-body {
  display: flex;
  flex-grow: 1;
}

/* Стили для хедера */
.header {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header input {
  background-color: #333;
  border: none;
  padding: 10px;
  width: 300px;
  color: white;
  border-radius: 20px;
  outline: none;
}

.header button {
  background-color: white;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.header button:hover {
  background-color: lightgray;
}

/* Стили для боковой панели (Sidebar) */
.sidebar a {
  text-decoration: none;
}


.sidebar a button {
  width: 100%;
  padding: 10px;
  background-color: #1db954;
  border: none;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
}

.sidebar a button:hover {
  background-color: #1aa34a;
}
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: #fff;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-page form div {
  margin-bottom: 20px;
}

.login-page form label {
  margin-bottom: 10px;
}

.login-page form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
}

.login-page button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #1db954;
  color: white;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #1aa34a;
}


/* Основные стили для контента */
.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content li {
  background-color: #282828;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content li:hover {
  background-color: #333;
}

.content input {
  background-color: #333;
  border: none;
  padding: 10px;
  width: 300px;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
}

/* Стили для кнопок */
button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1aa34a;
}

